<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/1147679ae7.js" crossorigin="anonymous"></script>
    <title>Trang Chủ</title>
    <style> 
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: Tahoma !important;
    }
    a {
        text-decoration: none;
    }
    li {
        list-style: none;
    }
    header {
        display: flex;
        justify-content: space-between;
        padding: 12px 50px;
        height: 70px;
        align-items: center;
        justify-content: center;
        background-color: rgb(153, 161, 168);
    }

    .logo {
        flex: 1;
    }

    .search-bar {
        flex: 3;
    }

    .search-bar button {
        position: relative;
        right: 23px;
    }
    .menu-top {
        flex: 4;
    }

    .menu-top ul {
        display: flex;
    }

    .menu-top ul li {
        padding: 0 12px;
        font-size: 12px;
        font-weight: bold;
    }
    header img{
        border-radius: 50px;
        height: auto;
        display: block;
        margin-left: 10%;
        margin-right: auto;
        width: 80%;
    }
    section h1{
        height: auto;
        text-align: center;
        padding: 20px 0;
        color: dimgrey;
        font-size: 25px;
        text-transform: uppercase;
    }
  
    section .middle-box ul li{
        border-collapse: collapse;
        border: 1px solid black;
        width: 40%;
        display: flex;
        justify-content: left;
        margin: 0px 260px; 
        margin-top: 15px;
    }
    html{
        background: url(https://demoda.vn/wp-content/uploads/2022/02/background-trang-1.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .box-pic img {
        width: 120px;
        height: 120px;
        margin-bottom: 10px;
        display: flex;
    }
    .menu-top ul li a {
        color: #333;
        position: relative;
    }
    .middle-box {
        width: 900px
    }
    </style>
</head>
<script src="../public/js/jquery-3.6.4.min.js"></script>
<body>
    <header class="header">
        <div class="container"></div>
            <div class="logo"></div>
            <div class="search-bar">
               <form action="">
                <input type="text" placeholder="Tìm kiếm...">
                <button type="submit">
                    <i class="fa fa-search"></i>
                </button>
               </form>
            </div>
            <div class="menu-top">
                <ul>
                    <li><a href="/trang-chu">Trang Chủ</a></li>
                    <li><a href="/lich-hoc">Lịch học</a></li>
                    <li><a href="/ket-qua">Kết quả</a></li>
                    <li><a href="/hoc-phi">Học phí</a></li>
                </ul>
            </div>
            <div class="user-account dropdown"></div>
        </div>
     
    </header>
    <section>
            <div class="middle-box">
                <h1>Thông tin sinh viên</h1>
                <ul>
                    <li> MSSV: <%= dataUser.mssv %></li> 
                    <li> Họ và tên: <%= dataUser.hovaten %></li>
                    <li> Chuyên ngành: <%= dataUser.chuyennganh %></li>
                    <li> Lớp: <%= dataUser.Malop %></li>
                    <li> Dân tộc: <%= dataUser.dantoc %></li>
                    <li> Ngày sinh: </li>
                </ul> 
                <div class="box-pic">          
                    <img src="../public/img/2051150172.png" alt="Ảnh">
                </div> 
            </div>
    </section>
    

</body>  
</html>